[submodule "cocos-bcx-node-bin"]
	path = cocos-bcx-node-bin
	url = https://github.com/Cocos-BCX/cocos-bcx-node-bin.git
[submodule "scripts"]
	path = scripts
	url = https://github.com/gkany/scripts.git
[submodule "Python-Middleware"]
	path = Python-Middleware
	url = https://github.com/Cocos-BCX/Python-Middleware.git
